#mailbox
  .row.well   
    %ul#myTab.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href: "#inbox"}
          %i.fa.fa-envelope-o
          Inbox
      %li
        %a{"data-toggle" => "tab", href: "#sent"}
          %i.fa.fa-reply-all
          Sent
      %li
        %a{"data-toggle" => "tab", href: "#compose"}
          %i.fa.fa-reply-all
          Compose
    .tab-content
      #inbox.tab-pane.active
        -if @received_messages.count > User::POST_SHOWN_LIMIT
          .well.notice
            ="Your inbox reaches limit(#{User::POST_SHOWN_LIMIT}). Please delete unnessary message."
        -@received_messages.each do |message|
          =link_to user_message_path(current_user, message), remote: :true, method: :patch do
            .btn-toolbar.well.well-sm{style: "margin:0px;"}
              .btn-group.col-md-2
                =message.sender.username
              .btn-group.col-md-9
                =message.subject
                %span.pull-right
                  %i.glyphicon.glyphicon-time
                  =message.created_at
          .well{style: "display: none", id: "message#{message.id}"}
            =message.body              
            =link_to user_message_path(current_user, message), method: :delete do
              %i.fa.fa-share-square-o Delete                   
      #sent.tab-pane
        -if @sent_messages.count > User::POST_SHOWN_LIMIT
          .well.notice
            ="Your sent reaches limit(#{User::POST_SHOWN_LIMIT}). Please delete unnessary message."
        -@sent_messages.each do |message|
          =content_tag(:a, type: 'button', 'data-toggle' => 'collapse', 'data-target' => "##{message.id}") do
            .btn-toolbar.well.well-sm{style: "margin:0px;"}
              .btn-group.col-md-2
                = message.recepient.username
              .btn-group.col-md-9
                =message.subject
                %span.pull-right
                  %i.glyphicon.glyphicon-time
                  = message.created_at
          =content_tag(:div, class: 'collapse out well', id: message.id) do
            =message.body
            =link_to user_message_path(current_user, message), method: :delete do
              %i.fa.fa-share-square-o Delete                   
      #compose.tab-pane
        %br
        .col-md-10.col-md-offset-1
          =bootstrap_form_for [current_user, @message], layout: :horizontal, label_col: 'col-md-3', control_col: 'col-md-6' do |f|
            %fieldset
              =f.text_field :to, value: 'Recipient'
              =f.text_field :subject, value: "Subject"
              =f.text_area :body, value: "Body'"
            %fieldset.actions.form-group
              .col-md-6.col-md-offset-3
                %input(type="submit" value="Send" class="btn btn-default")
