#user_profile
  .row.well
    .row
      .col-md-4.personal
        =image_tag @user.image, class: 'pic img-circle'
        .name
          %small 
            = @user.username
      .col-md-8.stat
        =content_tag(:div, class:'chart', "data-percent" => @user.successful_givings.length*100/total_number_of_giving, "data-bar-color" => "#05A1F4") do
          = "#{@user.successful_givings.length} Givings"
        =content_tag(:div, class:'chart', "data-percent" => @user.successful_receipts.length*100/total_number_of_receipt, "data-bar-color" => "#FF5039") do
          = "#{@user.successful_receipts.length} Receipts"
        =content_tag(:div, class:'chart', "data-percent" => @user.posts.length*100/total_number_of_post , "data-bar-color" => "#05A1F4") do
          = "#{@user.posts.length} Posts"
        =content_tag(:div, class:'chart', "data-percent" => @user.requests.length*100/total_number_of_request, "data-bar-color" => "#FF5039") do
          = "#{@user.requests.length} Requests"
    %br/
    %br/
    %ul#myTab.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href: "#post"}
          %i.fa.fa-envelope-o
          Post
      %li
        %a{"data-toggle" => "tab", href: "#request"}
          %i.fa.fa-reply-all
          Request
      %li
        %a{"data-toggle" => "tab", href: "#commitment"}
          %i.fa.fa-file-text-o
          Commitment
      %li
        %a{"data-toggle" => "tab", href: "#history"}
          %i.fa.fa-file-text-o
          History
    .tab-content
      #post.tab-pane.active
        -@user.posts.each do |post|
          =link_to post do
            .well.well-sm{style: "margin:0px;"}
              = post.title
              %span.pull-right
                %i.glyphicon.glyphicon-time
                = post.created_at
      #request.tab-pane
        -@user.requests.each do |request|
          .well.well-sm{style: "margin:0px;"}
            =link_to request.post do
              =request.post.title
            %span.pull-right
              %i.glyphicon.glyphicon-time
              = request.created_at
      #commitment.tab-pane
        .well.well-sm.pending_receipts{style: "margin:0px;"}
          Pending Receipts
        -if @user.pending_receipts.empty?
          .well.well-sm{style: "margin:0px;"}
            Nil
        -else
          -@user.pending_receipts.each do |pending_receipt|
            =render 'commitments/commitment', commitment: pending_receipt, user: @user 
        .well.well-sm.pending_givings{style: "margin:0px;"}
          Pending Givings
        -if @user.pending_givings.empty?
          .well.well-sm{style: "margin:0px;"}
            Nil
        -else
          -@user.pending_givings.each do |pending_giving|
            =render 'commitments/commitment', commitment: pending_giving, user: @user 
      #history.tab-pane
        .well.well-sm.pending_receipts{style: "margin:0px;"}
          Successful Receipts
        -if @user.successful_receipts.empty?
          .well.well-sm{style: "margin:0px;"}
            Nil
        -else
          -@user.successful_receipts.each do |receipt|
            .well.well-sm{style: "margin:0px;"}
              =displaying_receipt(receipt)
              %span.pull-right
                %i.glyphicon.glyphicon-time
                = receipt.created_at
        .well.well-sm.pending_givings{style: "margin:0px;"}
          Successful Givings
        -if @user.successful_givings.empty?
          .well.well-sm{style: "margin:0px;"}
            Nil
        -else
          -@user.successful_givings.each do |giving|
            .well.well-sm{style: "margin:0px;"}
              =displaying_giving(giving)
              %span.pull-right
                %i.glyphicon.glyphicon-time
                = giving.created_at

