%nav.navbar.navbar-default( role="navigation")
  .container
    .navbar-header
      %button.navbar-toggle(data-toggle="collapse" data-target=".navbar-collapse")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'GiveNTake', root_path, class: 'navbar-brand'
      %span.beta-tag
        beta
    .collapse.navbar-collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = form_tag(search_posts_path, method: 'get', class: 'col-md-5 navbar-form') do
            .form-group.searchbox
              = text_field_tag :search_term,nil, class: 'form-control', placeholder: "Search for posts here"
              = button_tag(type: 'submit', class: 'form-control btn btn-default') do
                %span.glyphicon.glyphicon-search
        %li
          - if user_signed_in?
            =link_to "Donate", new_post_path
        %li
          = link_to "Take", posts_path 
        - if user_signed_in?
          %li.dropdown
            %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
              ="Welcome, #{current_user.username}"
              - if current_user.unread_message_count > 0
                %span.glyphicon.glyphicon-bell
              %b.caret
            %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
              %li
                = link_to messages_path do
                  %span.glyphicon.glyphicon-envelope
                  Message
                = link_to current_user do
                  %span.glyphicon.glyphicon-user
                  Account
                = link_to edit_user_registration_path do
                  %span.glyphicon.glyphicon-pencil
                  Edit Account
                = link_to destroy_user_session_path, method: :delete do
                  %span.glyphicon.glyphicon-off
                  Logout
        - else 
          %li
            =link_to "Sign In", new_user_session_path                  
