%nav.navbar.navbar-default( role="navigation")
  .container
    .navbar-header
      %button.navbar-toggle(data-toggle="collapse" data-target=".navbar-ex1-collapse")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to 'GiveTheNeed', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in?
            =link_to "Donate", new_post_path
        %li
          = link_to "Take", posts_path 
        - if user_signed_in?
          %li.dropdown
            %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
              ="Welcome, #{current_user.username}"
              - if current_user.unread_message_count > 0
                %span.glyphicon.glyphicon-bell
              %b.caret
            %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
              %li
                = link_to '#' do
                  %span.glyphicon.glyphicon-envelope
                  Invite a friend
                = link_to current_user do
                  %span.glyphicon.glyphicon-user
                  Account
                = link_to edit_user_registration_path do
                  Edit Account
                = link_to destroy_user_session_path, method: :delete do
                  %span.glyphicon.glyphicon-off
                  Logout
                  
