!!! 5
%html
  %head
    %title GiveTheNeed
    %meta(charset="UTF-8")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    %header
      = render 'shared/header'
    %section.content.container
      = render 'shared/messages'
      = yield
    %footer
      %p.text-muted
        &copy 2014 GiveTheNeed       
        %small.term{"data-target" => "#myModal", "data-toggle" => "modal"}
          Term
        / Modal
        #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
                %h1#myModalLabel.modal-title Statement of Rights and Responsibilities
              .modal-body
                %p Date of Last Revision: 09 July, 2014.
                %p
                  %ul
                    %li
                      %em Privacy
                    %li
                      %em Safety
              .modal-footer
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
